.egs{
    
      
    margin-top: 5.2%;
   
    
    width:90%;
   
    position: absolute;

   padding-left: 6.1%; 
}
.invhead{
    background-color: #00A874;
    height: 10%;
    width: 100%
}
.invright{
    height: 300px;
}

.invtot{
    background-color: rgba(30, 190, 140, 0.877);
    height: 13%;
    width: 100%
}
.inv1{
    margin-top: 1%;
}
.btnadd{
background-color: #00A875 ;
 width: 100%;
 margin-top:30px;
 
}
.labelyo{
margin-left: 1%;
}
.labelyo1{
margin-left: 10%;
}
.labelyo2{
margin-left: 10%;
}
.toop{
margin-top: 5%;
}
.ww{
width:5%;
margin-left: 1%;

}
.ww3{
width:5%;
margin-left: 2%;

}
.ww4{
width:12%;
margin-left: 2%;
}
.ww1{
width:5%;

}

.error{
color: #E55151;
margin-top:5px; 
margin-left: 5px;
opacity: 0.7;
}



    .optional{
        color: yellow;
        margin-top:5px; 
        
            }
.ui-panel .ui-panel-titlebar{
              background: #00A875;
              font-size: 20px;

           }
           
           .ui-panel
           {
               border: 1px solid #00A874
           }     










        .error{

                         border: rgb(216, 62, 62) solid 1px;
                       
                    margin-left: 18%}
          
                    .error_lg{

                        border: rgb(197, 118, 118) solid 1px;
                        margin-left: 28%;
                        margin-top: 4%;
                      
                   }

                   input[type="text"][disabled]{
                                    background : white;
                   }