

<div class="contentss">
    <form novalidate (ngSubmit)="onSubmit(register_doctor)" [formGroup]="register_doctor" >
    <p-panel header="Register Doctor" [ngStyle]="{background:'red'}">
      <div class="row mb-3">
          <div class="col-sm-2"><strong>Firstname</strong></div>
          <div class="col-sm-3" ><input type="text" pInputText  formControlName="Firstname"/></div>
          <div class="col-sm-3 error"  *ngIf="register_doctor.get('Firstname').hasError('required')  &&  register_doctor.get('Firstname').touched"> <span class="fa fa-close"></span>  First name is required </div>
          
        </div>
      <div class="row mb-3">
        <div class="col-sm-2"><strong>Lastname</strong></div>
        <div class="col-sm-3"><input type="text" pInputText formControlName="Lastname"/></div>
        <div class="col-sm-3 error"  *ngIf="register_doctor.get('Lastname').hasError('required')  &&  register_doctor.get('Lastname').touched"> <span class="fa fa-close"></span> Last name is required </div>
        
      </div>
      <hr/>
    
      
      
      <div class="row mb-3">
        <div class="col-sm-2"><strong>Address</strong></div>
        <div class="col-sm-3"><input type="text" pInputText formControlName="Adress"/></div>
        <div class="col-sm-5 error"  *ngIf="register_doctor.get('Adress').hasError('required')  &&  register_doctor.get('Adress').touched"> <span class="fa fa-close"></span> Adress is required </div>
        
      </div>
      <hr/>
      
      <div class="row mb-3">
        <div class="col-sm-2"><strong>EmailID</strong></div>
        <div class="col-sm-3"><input type="text" pInputText formControlName="EmailID" 
          
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          /></div>
        <div class="col-sm-5 optional"  *ngIf=" register_doctor.get('EmailID').hasError('pattern')"> <span class="fa fa-warning"></span> wrong pattern (***@****.***) </div>
        
      </div>
      <div class="row mb-3">
        <div class="col-sm-2"><strong>Phone#</strong></div>
        <div class="col-sm-3"><input type="text" pInputText formControlName="Phone"  
          required
          pattern="[0-9]{7,11}$" /></div>
        <div class="col-sm-5 error"  *ngIf="register_doctor.get('Phone').hasError('required') && (register_doctor.get('Phone').touched ) "> <span class="fa fa-close"></span> Contact Number is required </div>
        <div class="col-sm-5 optional"  *ngIf="register_doctor.get('Phone').hasError('pattern') "> <span class="fa fa-warning"></span> wrong pattern (7-11 digits)</div>
        
      </div>
  
  
      
      <div class="row mb-3">
        <div class="col-sm-2"><strong>PMDC</strong></div>
        <div class="col-sm-3"><input type="text"  formControlName="PMDC" pInputText/></div>
        <div class="col-sm-5 error"  *ngIf="register_doctor.get('PMDC').hasError('required')&&register_doctor.get('PMDC').touched"> <span class="fa fa-close"></span> HospitalName is required </div>
        
      </div>
  
      <div class="row mb-3">
        <div class="col-sm-2"><strong>HospitalName</strong></div>
        <div class="col-sm-3"><input type="text"  formControlName="HospitalName" pInputText/></div>
        <div class="col-sm-5 error"  *ngIf="register_doctor.get('HospitalName').hasError('required')&&register_doctor.get('HospitalName').touched"> <span class="fa fa-close"></span> HospitalName is required </div>
        
      </div>
  
  
  
      <div class="row mb-3">
          <div class="col-sm-1">
        <button pButton type="submit" label="Submit"  [disabled]="register_doctor.invalid" class="ui-button-success"></button>
          </div>
      </div>
     
    </p-panel>
  </form>
  
  
    </div>